div .bad .ugly .addict {background-color: rgb(162, 63, 81);font-family: Verdana, DejaVu Sans, sans-serif;}
#good {color: blue;font-size: 36px;}
div .ugly {font-size: 24px;}
#beautiful {background-color: rgb(77, 170, 103);font-size: 24px;font-weight: bold;}